table#user-policies-table {
    border: none;
}


/*
    domain level
*/
div.trust-preference-domain {
    margin-bottom: 10px;
}
select.trust-preference-domain-header {
    width: 100%;
    font-size: larger;
}

div.trust-preference-domain-content {
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid grey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


/*
    preference level
*/
tr.trust-preference-row {
    border: none;
}

td.trust-preference-row, td.add-trust-preference-row{
    padding: 0;
    border: none;
}

div.trust-preference-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5px;
}

div.add-trust-preference-row {
    margin-top: 20px;
    margin-bottom: 10px;
}

div.trust-preference-ca, div.trust-preference-level {
    width: 50%;

    select {
        width: 100%;
    }
}

div.trust-preference-delete {
    background-color: rgba(255, 0, 0, 0.627);
    cursor: pointer;
    min-width: 25px;
    text-align: center;
    border-radius: 3px;
}
div.trust-preference-delete:hover {
    background-image: linear-gradient(rgb(0 0 0/30%) 0 0);
}