table#user-policies-table {
    border: none;
}

tr.trust-preference-row {
    border: none;
}

td.trust-preference-row {
    padding: 0;
    border: none;
}

div.trust-preference-row {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}

div.trust-preference-ca {
    width: 50%;
}

div.trust-preference-level {
    width: 50%;
}